html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #233067;
  font-size: 22px; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 501px) and (max-width: 840px) {
    .container {
      max-width: 700px; } }

@media screen and (min-width: 501px) and (max-width: 840px) {
  .label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .label:last-child {
      margin-right: 0; } }

.block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  /*   .dropper {
    display: inline-block;
    width: 100%;
    color: \$teal;
    }
   */ }
  .block:last-child {
    margin-right: 0; }
  @media screen and (min-width: 501px) and (max-width: 840px) {
    .block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .block:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .block:last-child {
        margin-right: 0; } }
  .block input,
  .block textarea,
  .block select {
    border: solid 2px #017e83;
    border-radius: 7px;
    box-shadow: 0 0 px #017e83;
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    background-color: #233067; }
    .block input:last-child,
    .block textarea:last-child,
    .block select:last-child {
      margin-right: 0; }
    @media screen and (min-width: 501px) and (max-width: 840px) {
      .block input,
      .block textarea,
      .block select {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        .block input:last-child,
        .block textarea:last-child,
        .block select:last-child {
          margin-right: 0; } }
  .block select {
    font-size: 20px;
    color: #017e83; }
  .block textarea {
    height: 100px;
    color: #017e83;
    font-size: 20px; }
  .block .question {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .block .question:last-child {
      margin-right: 0; }
    @media screen and (min-width: 501px) and (max-width: 840px) {
      .block .question {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .block .question:last-child {
          margin-right: 0; } }
  @media screen and (min-width: 501px) and (max-width: 840px) {
    .block .query {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .block .query:last-child {
        margin-right: 0; } }
  .block input {
    color: #017e83;
    font-size: 20px; }
  .block textarea,
  .block input:focus {
    color: #017e83; }
  .block .question {
    font-weight: bolder; }
  .block ::-webkit-input-placeholder {
    color: #017e83; }
  .block :-moz-placeholder {
    color: #017e83; }
  .block ::-moz-placeholder {
    color: #017e83; }
  .block :-ms-input-placeholder {
    color: #017e83; }

@media screen and (min-width: 501px) and (max-width: 840px) {
  .bio .question,
  .affiliations .question,
  .comments .question {
    margin-top: 30px; } }

/*# sourceMappingURL=main.css.map */
