@import 'bourbon/bourbon';
/* \$visual-grid: true;
 */
@import 'neat/neat';
$tablet: new-breakpoint(min-width 501px max-width 840px);
$mobile: new-breakpoint(max-width 500px);
$mystic: white;
$biscay: #233067;
$teal: #017e83;

$image-width: 100%;
$image-height: 100%;

body {
  background-color: $biscay;
  font-size: 22px;

}
.container {
  @include outer-container;
  color: $mystic;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  @include media($tablet) {
    max-width: 700px;
  }

}
.label {
  @include media($tablet) {
    @include span-columns(6);
  }

}
.block {
  @include span-columns (4);

  @include media($tablet) {
    @include span-columns(12);

  }
  @include media($mobile) {
    @include span-columns(12)
  }
  input,
  textarea {
    border: solid 2px $teal;
    border-radius: 7px;
    box-shadow: 0 0 px $teal;
    @include span-columns(4 of 4);
    background-color: $biscay;

    @include media($tablet) {
      @include span-columns(9 of 12);
    }

  }
  select {
    border: solid 2px $teal;
    border-radius: 7px;
    box-shadow: 0 0 px $teal;
    @include span-columns(4 of 4);
    background-color: $biscay;

  }
  textarea {
    height: 100px;
    color: #8f8f8f;
    font-size: 20px;
  }
  .question {
    /* display: inline-block; */
    @include span-columns(4 of 4);
    /* clear: both; */

    @include media($tablet) {
      @include span-columns(3 of 12);
    }

  }

  .query {
    @include media($tablet) {
      @include span-columns(12 of 12);

    }

    .dropper {
      @include media($tablet) {
        @include span-columns(12 of 12);
      }
    }
  }

  input {
    color: #8f8f8f;
    font-size: 20px;
  }

  input:focus {
    color: #De2a00;
    }

  .dropper {
    font-color: $teal;
    display: inline-block;
    }
}
.bio .question,
.affiliations .question,
.comments .question {
  @include media($tablet) {
    margin-top: 30px;
  }


}
